.swagger-ui .topbar-wrapper img,
.swagger-ui .topbar a img {
    content: url("/images/deakin-logo.png");
    height: 40px;
    width: auto;
}

.swagger-ui .topbar .download-url-wrapper .select-label select {
    border-color: #EF1C25 !important;
}

.swagger-ui .info .title small:last-child {
    background-color: #EF1C25 !important;
}
 

 .swagger-ui .topbar {
    background-color: #1f3147 !important;
}


.swagger-ui .scheme-container {
    box-shadow: none !important;
}

